<div>
  <h3>Weighter Resolution Graph</h3>

  <br>
  <form action="">
    <label for="cnf-file-input">Graph File</label><br/>
    <input id="cnf-file-input" type="file" class="cnf-file-input" (change)="onChange($event)" #fileUpload />

    <br>
    <button type="button" (click)="generateWeightedResolutionGraph()">Generuj</button>
  </form>
  <p>{{info}}</p>
  <canvas>

  </canvas>
  <!--    zmienic na inny layout w przyszlosci-->
  <ngx-graph
    class="{chart-container}"
    layout="d3ForceDirected"
    [view]="[this.width ,this.height]"
    [showMiniMap]="true"
    [links]=this.links
    [nodes]= this.nodes>

  </ngx-graph>
</div>
